@import "../../configs/default.config";

.Header {
  padding: $sm $md $sm $md;
  height: 76px;
  position: fixed;
  background: white;
  z-index: 1000;
}

.Header--mobile {
  padding-left: $sm;
  padding-right: $sm;
}

.Header__Login {
  text-align: right;
}